<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
    <resultMap id="user" type="user">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
    </resultMap>

    <sql id="allcols">
        user_id as userId,user_name as userName,user_password as userPassword
    </sql>

    <select id="getUserById" resultType="user" parameterType="int">
      select <include refid="allcols"/> from user where user_id=#{id}
    </select>

    <select id="getAll" resultType="user">
        select  <include refid="allcols"/> from user
    </select>

    <select id="getUserByName" resultMap="user">
        select <include refid="allcols"/> from user where user_name=#{userName}
    </select>

    <insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="userId">
        insert into user(user_name,user_password) value(#{userName},#{userPassword})
    </insert>

    <delete id="delete" parameterType="int">
        delete from user where user_id=#{userId} and user_id!=1
    </delete>

    <update id="update" parameterType="user">
        update user set user_name=#{userName},user_password=#{userPassword} where user_id=#{userId}
    </update>
</mapper>